.all
{
	width: 1000px;
	border: 1px dashed black;
}
.links
{
	border: 1px dashed black;
	width: 100px; 
	height: 30px;
	margin:10px;
	float:right;
}


.links:hover
{
	border: 1px dashed black;
	width: 100px; 
	height: 30px;
	margin:10px;
	float:right;
	background-color:#dcdcdc;
}
.links a
{
	margin-top:15px;
	text-decoration: none;
	color: #000;
}
.links a:hover
{
	margin-top:15px;
	text-decoration: none;
	color: #fff;
}
.auth
{
	margin: 5px;
	border: 1px dashed black;
	width: 250px; 
	float:right;
}
a
{
	margin-top:15px;
	text-decoration: none;
	color: #000;
}
.table
{
	margin-top: 100px;
	text-align:left;
}

         
    #breadcrumbs{
      background: #eee;
      border-width: 1px;
      border-style: solid;
      border-color: #f5f5f5 #e5e5e5 #ccc;
      border-radius: 5px;
      box-shadow: 0 0 2px rgba(0,0,0,.2);
      overflow: hidden;
      width: 90%;
    }
    
    #breadcrumbs li{
      float: left;
    }
    
    #breadcrumbs a{
      padding: .7em 1em .7em 2em;
      float: left;
      text-decoration: none;
      color: #444;
      position: relative;
      text-shadow: 0 1px 0 rgba(255,255,255,.5);
      background-color: #ddd;
      background-image: linear-gradient(to right, #f5f5f5, #ddd);  
    }
    
    #breadcrumbs li:first-child a{
      padding-left: 1em;
      border-radius: 5px 0 0 5px;
    }
    
    #breadcrumbs a:hover{
      background: #fff;
    }
    
    #breadcrumbs a::after,
    #breadcrumbs a::before{
      content: "";
      position: absolute;
      top: 50%;
      margin-top: -1.5em;   
      border-top: 1.5em solid transparent;
      border-bottom: 1.5em solid transparent;
      border-left: 1em solid;
      right: -1em;
    }
    
    #breadcrumbs a::after{ 
      z-index: 2;
      border-left-color: #ddd;  
    }
    
    #breadcrumbs a::before{
      border-left-color: #ccc;  
      right: -1.1em;
      z-index: 1; 
    }
    
    #breadcrumbs a:hover::after{
      border-left-color: #fff;
    }
    
    #breadcrumbs .current,
    #breadcrumbs .current:hover{
      font-weight: bold;
      background: none;
    }
    
    #breadcrumbs .current::after,
    #breadcrumbs .current::before{
      content: normal;  
    }